.overlay {
  background-color: #ffffff;
  width: 200%;
  /* height: 50px; */
  padding: 6px 0;
  z-index: 1;
  color: #5c687a !important;
  border: 1px solid #e8e9ef;
  border-radius: 9px;
  box-shadow: #e8e9ef;
  position: absolute;
  top: 120%;
  right: 0%;
}

@media (max-width: 576px) {
  .overlay {
    position: absolute;
    margin-top: 10px;
    width: 195%;
  }
}
